.markdown-body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 24px;
  line-height: 1.5;
  word-wrap: break-word;
  background-color: #c1e1c1;
}

.container-lg {
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto;
}

#level-up > li {
  text-decoration: underline;
  cursor: pointer;
}

#level-up > li a {
  color: black;
}

#level-up div {
  display: none;
  padding: 20px 0;
}

#level-up pre {
  background-color: #e2e2e2;
  border: 1px solid black;
  display: block;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
  min-width: 100px;
  padding: 10px;
}

.copy-button {
  display: block;
  float: right;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #fff;
  background-image: url('https://abs.twimg.com/emoji/v1/72x72/1f4cb.png'); /* Twitter clipboard emoji */
  background-size: 60% auto;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid rgba(0,0,0,.29);
  border-bottom-color: rgba(0,0,0,.36);
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.12);

  &:before {
    content: '';
    display: none;
    z-index: 9998;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(0,0,0,.72);
  }

  &:after {
    content: 'Copy to Clipboard';
    display: none;
    position: relative;
    bottom: 40px;
    left: -37px;
    z-index: 9999;
    width: 114px;
    height: 36px;
    color: #fff;
    font-size: 10px;
    line-height: 36px;
    text-align: center;
    background: rgba(0,0,0,.72);
    border-radius: 3px;
  }

  &:hover {
    background-color: #eee;
    &:before, &:after {
      display: block;
    }
  }

  &:active, &:focus {
    outline: none;
    &:after {
      content: 'Copied!';
    }
  }
}